* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Montserrat", sans-serif;
  /* overflow-y: hidden; */
  color: #29364c;
}
.App {
  display: flex;
  margin: auto;
  width: 1349px;
  height: 100vh;
}
.Main {
  width: 74%;
  padding: 0 3rem;
}
.Side-Bar {
  width: 26%;
}
