* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Montserrat", sans-serif;
  /* overflow-y: hidden; */
  height: 3000px;
  color: #29364c;
}
.App {
  display: flex;
  min-height: 100vh;
  margin: auto;
  width: 1349px;
}
.Main {
  width: 74%;
  padding: 0 3rem;
}
.Side-Bar {
  width: 26%;
}
