* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Montserrat", sans-serif;
<<<<<<< HEAD
=======
  /* overflow-y: hidden; */
  height: 3000px;
  color: #29364c;
>>>>>>> 43d0e9c (finishing main design)
}
.App {
  display: flex;
  min-height: 100vh;
}
.Main {
  width: 70%;
  padding: 0 3rem;
}
.Side-Bar {
  width: 30%;
}
